@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-grey: #555;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    height:100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.6rem;
}

.header {
   
}
.header-content {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    gap: 0.7rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.2rem;
}

.logo-icon{
    height: 1.7rem;
    width: 1.7rem;
}

.logo-txt {
        font-size: 3rem;
    font-weight: bold;
}

.nav{
    display: none;
    gap: 0.7rem;
    font-size: small;
}

@media screen and (min-width:768px) {
    .nav{display: flex;
    }
}

.nav-link {
    color: var(--gray);
    font-weight: 600;
}

.nav-link:hover {
    color: var(--link-color);
}

.contact-button {
    display: none;
    border: none;
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform:  swish 0.1s;
    padding: 0.3rem 0.7rem;
    font-size: 0.75rem;
    font-weight: 600;
}

@media screen and (min-width:769px) {
    .contact-button{
        display: block;
    }
}

.contact-button:hover {
    background-color:#4345f1 ;
}

.menu-button 
{
    display: none;
    border: none;
    background-color: white;
    transform: rotateY(180deg);
     padding: 0.3rem 0.7rem;
}
.menu-icon {
   
height: 1.1rem;
width: 1.1rem;
}
 
@media screen and (max-width:769px) {
    .menu-button{
        display: block;
    }
}

.main-section {
     max-width: 900px;
     display: flex;
     flex-direction: column;
     gap: 1.3rem;
     align-items: center;
     margin: 0 auto;
} 

.content-left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;
}

@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.section-label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}
.section-title {
font-weight: 700;
font-size: 34px;
padding: 1.1rem;
}

.section-description{
    color: var(--dark-grey);
    font-size: 1.1rem;
}

.button-group {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.start-button,.tour-button{
  
    border: none;
    border-radius: 0.3rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform:  swish 0.1s;
    padding: 0.3rem 0.7rem;
    font-size: 0.75rem;
    font-weight: 600;
}

.tour-button {
    background-color: var(--dark-grey);
}

.start-button:hover {
    background-color: var(--link-color);
}
.tour-button:hover{
    background-color: var(--gray);
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    border-radius: 0.62rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    height: 57vh;
}
.section-image {
    height: 100%;
    width:100%;
}

@media screen and  (min-width : 768px){ 
    .main-section {
     max-width: 900px;
     display: flex;
     flex-direction: row;
     gap: 1.3rem;
     align-items: center;
     margin: 0 auto;
     padding-top: 60px;
} 
.content-left{
    max-width: 65%;
    text-align: left;

}
.section-title {
    padding-left:0 ;
    font-size: 2rem;
}
.button-group {
    justify-content: start;
    padding-left: 0;

}
.section-label {
    font-size: 0.9rem;
}
.image-container{
    height: 60vh;
}
.section-description {
    color: var(--gray);
    width: 81%;
    font-size: 1rem;
}    
}

.company-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    animation: slidefromleft 1s ease forwards;
}

.company-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius:20px ;
    margin-top: 1.5rem;
    padding: 1.5rem 1.5rem;
}

.companylogo {
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray);
    display: flex;
    gap: 0.7rem;
}

.png-img {
    height: 1.7rem;
}
.logo-text{
    font-size: 1rem;
}

@media screen and (min-width:640px) {
    .company-grid{
          grid-template-columns: repeat(4,1fr);
    }  

    .company-title {
        font-size: 2.2rem;
    }
    
}


.feature-container {
    background-color: var(--light-gray);
    margin-top: 3rem;
    padding: 2rem;
    text-align: center;
}
.feature-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.main-title {
    font-size: 2.4rem;
}
.main-desc {
    color: var(--gray);
    font-size: 1.1rem;
}

.main-info {
    display: flex; 
    flex-direction: column;
}

.feature-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin:  2rem;

}

.feature-png {
    width: 2rem;
    height: 2rem;
}

.icon-container {
    background-color: var(--background-color);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    gap: 1rem;
}

.feature-title {
    color: var(--background-color);
}

.feature-description {
    color: var(--background-color);
}

.feature-card:nth-child(1) {
    background-color:#2750a7;
}

.feature-card:nth-child(2) {
    background-color: rgb(228, 70, 97);
}
.feature-card:nth-child(3) {
    background-color:rgb(244, 188, 86);
}
.feature-card:nth-child(4) {
    background-color:rgb(106, 169, 106);
}
.feature-card:nth-child(5) {
    background-color:rgb(38, 101, 38);
}
.feature-card:nth-child(6) {
    background-color:rgb(104, 68, 104)
}

.feature-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title {
    font-size: larger;
    font-weight: 1000;
}

@media screen and (max-width:768px) {
.feature-grid {
    grid-template-columns: repeat(1,1fr);
}   
}

.testimonial-content {
  background-color: var(--background-color);  
  padding: 0 2rem ;
  margin:0 auto ;
  max-width:1280px ;
  margin-top: 2rem;
}

.testimonial-title {
    font-size: 2rem;
    font-weight: bold;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(360px,1fr));
    gap: 2rem;
}

.testimonial-avatar img {
    width: 7rem;
    border-radius: 50%;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem;
    gap: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
   
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 2px solid blue;
}

.testimonial-text {
    color:var(--dark-grey) ;
    font-size: 1.1rem;
   
}

.testimonial-name {
    font-size: 1.3rem;
     color: var(--primary-color);
}

.testimonial-desc {
    font-size: 0.9rem;
    color: var(--gray);
}

.newsletter-conatiner {
    background-color: var(--background-color);
    padding: 2rem;
    max-width: 1280px;
    height: 45vh;
    margin: 0 auto;
    margin-top: 2rem;

}

.newsletter-content {
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.news-left {
    height: 100%;
    width: 90%;
    display: none;
    position: relative;

}
.news-left img {
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
     justify-content: center; /* keep vertical centering */
    align-items: flex-start; /* left-align children */           /* match .news-left so content sits left within the middle area */
    text-align: left;        /* left-align text inside */
    width: 98%;
}

.news-title {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.news-info {
    padding: 2.5rem;
}

.news-form {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}

.news-email {
    background-color: var(--background-color);
    width: 35%;
    color: var(--dark-grey);
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.7rem ;
}

.news-send {
    background-color: var(--primary-color);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    color: var(--background-color);
    border: none;
}

.news-email:focus {
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.news-send:hover {
    background-color: var(--link-color);
}

.privacy-policy {
    font-size: 0.693rem;
}
.news-link {
    text-decoration: underline;
    color: var(--link-color);
}

@media screen and (min-width:640px) {
    .news-left {
        display: block;
    }
}

@media screen and (min-width:640px) {
    .news-title {
        font-size: 2.4rem;
    }
}

.footer-container {
    background-color: var(--background-color);
    margin: 0 auto;
    padding:  0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
}

.footer {
    max-width: 1280px;
    padding: 3rem;
    text-align: left;
    display: flex;
    justify-content: space-between;

}

.footer-top {
    width: 34%;
    display: flex;
    flex-direction: column;


} 

.comp-logo {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1.2rem;

}

.logo-png {
    width: 3rem;
    height:3rem;
}

.social-icon {
     width: 2rem;
    height:2rem;
}

.logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.filler-text {
    font-size: 1rem;
    color: #777;
}

.footer-top {
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.social {
    display: flex;
    flex-direction:row;
    gap: 0.6rem;
  
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5.5rem;
    width: 58%;
    padding: 0.6rem 0.3rem;
}

.footer-grid-heading {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--text-color);
}

ul{
list-style-type: none;
}

.footer-link {
    color: #777;
    font-size: 1rem;
    font-size: 0.9rem;
}

.footer-links-list {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.footer-grid-heading {
    margin-bottom: 1.7rem;
}

.footer-copyright {
    color: var(--gray);
    font-size: 0.8rem;
    padding-bottom: 2rem;
    padding-top: 1.15rem;
    margin-top: 1.5rem;
    border-top: 1px solid #E5E7EB;
}

@media screen and (max-width:1080px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-top {
        padding-left: 5rem;
    }

    .footer-grid {
        align-self:center;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:850px) {

    .footer-grid {
        grid-template-columns: repeat(2,1fr);
    }
}